h1 {
    text-align: center;
}
.tasks-list {
    width: 500px;
    margin: auto;
    max-width: 100%;
}

.tasks-input {
    width: 500px;
    margin: auto;
    max-width: 100%;
}

button {
    display: block;
    margin: auto;
}

.container {
    display: grid;
    justify-content: center;
}

.Start {
    margin-top: 5%;

}