<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">
      Gestión de la Configuración
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Proyecto de Gestión de la Configuración basado en una ToDo App con Login
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button (click)="login()" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">
          Login
        </button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="container px-5">
        <img
          src="https://s3-alpha.figma.com/hub/file/2545033651/4dd1aa7d-3ed4-4a0b-ad0c-90b1c79a7d31-cover.png"
          class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image"
          width="700"
          height="500"
          loading="lazy"
        />
      </div>
    </div>
  </div>
  <section id="about">
    <div class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-8">
          <h2>About this page</h2>
          <p class="lead">
            This is a great place to talk about your webpage. This template is
            purposefully unstyled so you can use it as a boilerplate or starting
            point for you own landing page designs! This template features:
          </p>
          <ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>
              Responsive behavior when clicking nav links perfect for a one page
              website
            </li>
            <li>
              Bootstrap's scrollspy feature which highlights which section of the
              page you're on in the navbar
            </li>
            <li>
              Minimal custom CSS so you are free to explore your own unique design
              options
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>